* {
  padding: none;
  margin: none;
}

body {
  background: #333;
}

img {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

#wrapper {
  width: px;
  position: relative;
  margin: 80px auto 40px auto;
  margin: 60px auto 40px auto;
  width: 1260px;
  position: relative;
  margin: 10px auto 40px auto;
}

#header {
  background-image: image-url("template_background.png");
  width: 1260px;
  height: 94px;
}

#menu {
  background-image: image-url("template_button_row.png");
  background-repeat: no-repeat;
  width: 1260px;
  height: 26px;

  padding-left: 30px;
  padding-top: 1px;

  vertical-align: middle;
  text-align: center;
}

#menu_item {
  color: #FFFFFF;
  font-size: 20px;
  font-style: oblique;

  vertical-align: middle;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;

  text-align: center;
  vertical-align: middle;

  a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  a:hover {
    color: #feffd9;
    font-style: normal;
    text-decoration: none;
  }
}

#content_top {
  background-image: image-url("template_content_top.png");
  background-repeat: no-repeat;
}

#content {
  background-image: image-url("template_content.png");
  background-repeat: repeat-y;
  width: 1260px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

#footer {
  background-image: image-url("template_footer.png");
  background-repeat: no-repeat;
  width: 1260px;
  height: 69px;

  text-align: center;
  padding-top: 12px;
  font-size: 12px;
  color: #f3f5e4;

  a:link, a:visited {
    color: #f3f5e4;
    text-decoration: none;
  }

  a:hover {
    color: #f3f5e4;
    text-decoration: underline;
  }
}

.table_sub_menu {
  width: 200px;
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;

  text-align: center;
}

.table_content {
  width: auto;

  padding-left: 20px;

  vertical-align: top;
}

.submenu {

  color: #000000;
  background-image: image-url("submenu_unselected.png");
  background-repeat: no-repeat;
  font-size: 15px;

  width: 250px;
  height: 25px;

  padding-top: 1px;
  padding-left: 2px;
  padding-right: 2px;

  margin-top: 0px;
  margin-bottom: 0px;

  text-align: center;
  vertical-align: middle;

  a:link, a:visited {
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
  }

  top {
    background-image: image-url("submenu_top.png");
    background-repeat: no-repeat;;
  }
  bottom {
    background-image: image-url("submenu_bottom.png");
    background-repeat: no-repeat;;
  }

  selected {
    background-image: image-url("submenu-selected.png")
  }
}